<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SongConString" connectionString="Data Source=.;database=SongModel;integrated security =true" />
    <!--<add name="SongConString"
      connectionString="Data Source=.;database=SongModel;Initial Catalog=library;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>